
.container {
  position: absolute;
  height: 86vh;
  width: 100%;
  -ms-overflow-style: none;
  overflow: scroll;
  margin-top: 4vh;

  @media (min-width: 768px) {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    height: 100vh;
    margin-top: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}